.cancel_friend {
    width: 230px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #53616e;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin: 12px
}
.cancel_friend:hover {
    background-color: #4f555a;
}