.search-container form{
    border: 1px solid grey;
    display: flex;
    margin-bottom: 10px;
 }
 .search-container input{
    padding: 3px;
    outline:none;
    font-size: 20px;
 }
 
 .fa-search, .fa-window-close{
    cursor: pointer;
    font-size: 1.5rem;
 }

 .err-msg{
    text-align: center;
    color: red;
    font-size: 1.5rem;
    margin: 10px;
 }