.DisplaySearch{
    position: relative;
    min-height: 100vh;
    margin-left: 25px;
    margin-top: 15px;
}

.BackButton{
    position: absolute;
    top: 93px;
    left: 240px;
}

.NextButton{
    position: relative;
    bottom: 90px;
    left: 35px;
}

.PrevButton{
    position: relative;
    bottom: 90px;
    left: 25px;
}

.SearchResults{
    font-size: xx-large;
}