.DisplaySearchPageContainer{
    background-color: #242526;
    color: white;
}

.DisplaySearch{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 25px;
    margin-top: 15px;
    cursor: pointer;
}

.DisplayEachSearchedGame{
    padding: 5px;
    height: 150px;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
}

.EachSearchGameName{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    font-size: 22px;
}

.EachSearchGameRating{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    padding-top: 60px;
    padding-left: 15px;

}

.EachResult{
    padding-bottom: 10px;
    padding-left: 10px;
}

.EachGameName:hover{
    color: #0084ff;
}

.SearchResults{
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 15px;
}

.HeaderText{
    color: white;
    padding-bottom: 20px;
    padding-right: 20px;
}

.ButtonContainer{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.MoveSearchPageBackButton{
    width: 80px;
    height: 40px;
    flex-direction: row;
    border: none;
    border-radius: 10px;
    background-color: #0084ff;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: 100;
}

.MoveSearchPageButton{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #0084ff;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: 100;
}

.MoveSearchPageButton:hover {
    background-color: #0a5fad;
}

.MoveSearchPageButton:disabled {
    cursor: not-allowed;
    background-color: grey;
}