.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.team-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #242526;
    padding-top: 20px;
}

.team {
    color: white;
}

.people-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 20px;
}

.individual {
    flex: 3;
}

.individual-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.individual-profilePic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.individual-name {
    color: white;
    padding-top: 10px
}

.individual-role {
    color: yellow;
    font-weight: 100;
    padding: 10px;
}

.individual-detais {
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 13px;
}

.contact-button {
    border: none;
    outline: 0;
    display: inline-block;
    color: white;
    font-size: 22px;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    height: 50px;
    width: 40%;
}

.contact-button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}