.comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
}

.post-title {
    padding-top: 10px;
    padding-left: 12px;
    color: white;
}

.comment-content {
    color:white;
    padding-top: 10px;
    padding-left: 25px;
    font-weight: 100;
    font-size: 18px;
    white-space: pre-line;
}