/*MERGE TEST COMMENT*/

.postPage-container {
    display:flex;
    position: relative;
    min-height: 100vh;
    background: #242526;
 }
 
 .post-container{
    margin: 30px 10px;
    width: 100%;
    flex-direction: column;
 }
 
 .upvote-container{
    margin-right: 10px;
 }
 
 .post-details{
    font-size: 1.2rem;
    padding: 15px;
    border: 1px solid rgb(206,212,218);
    box-shadow: 0 19px 18px rgba(0.3,0.3,0.3,0.03), 0 15px 12px rgba(0.1,0.1,0.1,0.1);
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
 }
 
 /* .post-body{
    border: 1px solid black ;
    box-shadow: 0 19px 18px rgba(0.3,0.3,0.3,0.03), 0 15px 12px rgba(0.1,0.1,0.1,0.1);
    margin: 20px 0;
    padding: 25px;
    border-radius: 5px;
    font-size: 1.2rem;
 
 } */
 
 .PostPage{
    display: flex;
    align-items: center;
 }

.post-info > .underline:hover {
   text-decoration: underline;
}
