.friend {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-picture {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: solid grey;
    border-width: 1px;
}

.username {
    padding-left: 12px;
    color: white;
}