.coverContainer {
    display: flex;
    flex-direction: column wrap;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.coverImage {
    object-fit: contain;
    width: 70%;
    height: 550px;
    padding-right: 20px;
}