.messenger {
    height: calc(100vh - 70px);
    display: flex;
}
  
.chatMenu {
    flex: 2.5;
}

.chatMenuInput{
    width: 100%;
    padding: 10px;
    padding-left: 10px ;
    border-width:0px;
    border:x;
    border-bottom: 1px solid grey;
}
  
.chatBox {
    flex: 6.5;
}

.chatBoxTop{
    height: 100%;
    overflow-y: scroll;
    padding-right: 15px;
    overflow: auto;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.chatInput {
    align-self: center;
    background-color: #242526;
    outline:none;
    caret-color: white;
    border-radius: 10px;
    border-bottom: 1px solid grey;
    width: 80%;
    height: 90px;
    padding: 10px;
    resize: none;
    color: white;
    font-size: 20px;
    font-weight: 100;
}

.sendButton {
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #0084ff;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: 100;
}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.online {
    flex: 2.5;
}

.onlineTop {
    display: flex;
    margin-top: 12px;
    justify-content: center;
    width: 100%;
}

.onlineLabel {
    color: white;
    font-size: 20px;
    font-weight: 100;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
  
.chatMenuWrapper, .chatBoxWrapper, .onlineWrapper {
    padding: 10px;
    height: 100%;
    background-color: #242526;
}

input{
    outline:none;
    caret-color: white;
    font-size: 20px;
    background-color: #242526;
}



.buttonWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.createConversationButton {
    cursor: pointer;
    color: white;
    width: 42px;
    height: 42px;
    padding: 5px;
    border-radius: 50%;
    border-width: thick;
}

.createConversationButton:hover {
    color: #0084ff;
    background-color: #2e2f30;
    border-radius: 50%;
    transition: 0.3s;
    border-width: thick;
}