.game {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;
}

.cover-picture {
    height: 100px;
    border: solid grey;
    border-width: 1px;
}

.game-name {
    padding-left: 12px;
    color: white;
}