.side-bar {
    flex: 0.35;
    margin-top: 15px;
    margin-left: 25px;
}

.community-section {
    background-color: rgb(235, 225, 225);
    border-radius: 10px;
    border: 1px solid rgb(200,200,200);
}

.community-section .title {
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 75px;
    background-color: gray;
}

.community-section .title > span {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: white;
}

.community-section .communities-wrapper .community {
    display: flex;
    align-items: center;
    padding: 8px 0px;
    padding-left: 25px;
    border-top: 1px solid rgb(200,200,200);
}

.community-section .communities-wrapper .community svg {
    color: rgb(0,180,0);
}

.community-section .communities-wrapper .community img {
    max-width: 32px;
    min-width: 32px;
    max-height: 32px;
    min-height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.community-section .communities-wrapper .community .name {
    font-family: sans-serif;
}