.DisplayOptionsContainer{
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
    background-color: #242526;
    color: white;
}

.NavStateName{
    padding-bottom: 10px;
}

.NavStateBlurbText{
    padding-bottom: 35px;
}

.DisplayOptionsBox{
    background-color: #242526;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
} 

.DisplayOptionsDisplay{
    padding-bottom: 15px;
    display: flex;
}

.DisplayFirst{
    flex: 1;
}

.DisplayEachGame{
    height: 150px;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
}

.DisplaySecond{
    flex: 6;
}

.DisplayEachGameName {
    text-align: center;
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    color: white;
    cursor: pointer;
}

.DisplayEachGameName:hover{
    color: #0084ff;
}

.DisplayThird{
    flex: 4;
}

.DisplayEachGameRating{
    text-align: center;
    display: inline-block;
    color: white;
}

.DisplayFourth{
    flex: 4;
}

.MoveDisplayPageButtonContainer{
    flex-direction: row;
}

.MoveDisplayPageButton{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #0084ff;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: 100;
}

.MoveDisplayPageButton:hover {
    background-color: #0a5fad;
}

.MoveDisplayPageButton:disabled {
    cursor: not-allowed;
    background-color: grey;
}